@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
}

.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(82, 195, 3);
border: none;
cursor: pointer;

}

.btn-container{
    text-align: center;

}

#hero{
    background: linear-gradient(0, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%),url("../assets/hero-bg.png");
    height: 919px;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

#hero .hero-content{
    width: 1023px;
    /* margin-left: auto;
    margin-right: auto;
    
     margin: 0 auto; */
}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}

#hero .hero-content .content{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;
}

#card-box{
    width: 1320px;
    margin: 167px auto;
    
}

#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
}

#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
padding-bottom:15px ;
}

.card-container{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
    
}

.card{
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width: 424px;
}
.card .image-box img{
    width: 100%;
}

.card .shop{
    background-color: aquamarine;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;

    background: rgba(82, 195, 3, 0.15);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
.hw{
    height: 326px;
    width: 1320px;
   
}
#social{
    background: linear-gradient(0, rgb(255, 255, 255, 0.85) ,rgba(255, 255, 255, 0.85) ),url("../assets/social-bg.png");
    height: 671px;
    width: 1932px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}

#social .title1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;
}

#social .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-bottom: 48px;
}

#social  .title2{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 30px 10px 30px 10px;

    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.336);
    border-top: 1px solid rgba(16, 16, 16, 0.336);
}

#social .img1{
    width: 32px;
    height: 32px;
    padding: 15px;

}
#social .img2{
    width: 32px;
    height: 32px;
    padding: 15px;
}
#social .img3{
    width: 32px;
    height: 32px;
    padding: 15px;
}
#social .img4{
    width: 32px;
    height: 32px;
    padding: 15px;
}